/* General Styles */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    margin-bottom: 25px;
}

body {
    text-align: center;
    font-family: 'Dosis';
}

header {
    background-color: #BBB193;
    padding: 10px;
    margin-bottom: 0;
}

/* Header */ 


.profile-pic {
    max-width: 90%;
    margin-bottom: 25px;
}

.profile-paragraph {
    margin-bottom: 25px;
}

h1 {
    font-weight: 700;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

li {
    margin-bottom: 25px;
    background-color: #F6F0ED;
    padding: 10px 50px;
}

li a:hover {
    text-decoration: none;
    color: skyblue
}


.portfolio-pic {
    max-width: 100%;
}

/* Main */ 

main {
    background-color: #C2948A;
    padding: 20px;
    
}
h2 {
    padding: 20px;
    margin-bottom: 25px;
}


/* Footer */

.name-bottom {
    float: left;
    margin-left: 10px;
}

.bottom-link {
    float: right;
    margin-right: 10px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.bottom-link:hover {
    color: skyblue;
}


@media screen and (min-width: 768px) {

    ul {
        display: flex;
        justify-content: center;
    }

    ul li {
        background-color: #BBB193;

    }

    .header-description {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header-description img {
        flex-basis: 40%;
    }

    .header-description p {
        flex-basis: 55%;
        text-align: left;
        font-size: 25px;
        line-height: 2.3rem;
    }

    .portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portfolio-item1,
    .portfolio-item2,
    .portfolio-item3,
    .portfolio-item4,
    .portfolio-item5,
    .portfolio-item6 {
        flex-basis: 45%;
    }
}


@media screen and (min-width: 1024px) {
    .portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio-item1,
    .portfolio-item2,
    .portfolio-item3,
    .portfolio-item4,
    .portfolio-item5,
    .portfolio-item6 {
        flex-basis: 30%;
    }
}